@import 'base';
@import 'colors';
@import 'form';
@import 'modifiers';

.admin {
  background: $blue-grey;
  display: flex;
  min-height: 100vh;
  width: 100vw;
}

.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2em;
}

.logo-big {
  background: $black-ter;
  border-radius: 50%;
  height: 15em;
  width: 15em;
}

.section {
  background: $white-ter;
  border-radius: 5px;
  padding: 1em;

  &:empty {
    display: none;
  }
}

.sidebar {
  background: $black-ter;
  box-sizing: border-box;
  color: $white-ter;
  height: 100vh;
  overflow-y: auto;
  padding: 2em 1em;

  a {
    color: $white-ter;
    margin-left: 1em;
    text-decoration: none;
  }
}

.sidebar__head {
  display: flex;
  margin-bottom: 2em;

  .info {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
  }

  .logo {
    border: 2px solid $white-ter;
    border-radius: 10px;
    height: 4em;
    width: 4em;
  }

  .user {
    font-size: 0.9em;
    padding-left: 0.1em;
  }
}

.sidebar__section {
  display: flex;
  flex-direction: column;
  margin: 1em 0;

  label {
    font-size: 0.8em;
    margin-bottom: 0.5em;
  }
}

.subsection {
  margin: 1em;
}
