@import 'base';
@import 'colors';
@import 'form';
@import 'modifiers';

.admin {
  background: $blue-grey;
  display: flex;
  min-height: 100vh;
  width: 100vw;
}

.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2em;
}

.entry {
  align-items: center;
  background: $grey;
  box-sizing: border-box;
  display: flex;
  padding: 0.5em;
  width: 100%;

  button {
    align-items: center;
    height: 1.8em;
    justify-content: center;
    margin: 0 0.05em;
    min-width: auto;
    padding: 0.2em;
    width: 1.8em;
  }
}

.entry-alt {
  @extend .entry;
  background: $light-grey;
}

.logo-big {
  background: $black-ter;
  border-radius: 50%;
  height: 15em;
  width: 15em;
}

.section {
  background: $white-ter;
  border-radius: 5px;
  margin-bottom: 1.5em;
  padding: 1em;

  &:empty {
    display: none;
  }
}

.sidebar {
  background: $black-ter;
  box-sizing: border-box;
  color: $white-ter;
  height: 100vh;
  overflow-y: auto;
  padding: 2em 1em;

  a {
    color: $white-ter;
    margin-left: 1em;
    text-decoration: none;
  }
}

.sidebar__head {
  display: flex;
  margin-bottom: 2em;

  .info {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
  }

  .logo {
    border: 2px solid $white-ter;
    border-radius: 10px;
    height: 4em;
    width: 4em;
  }

  .user {
    font-size: 0.9em;
    padding-left: 0.1em;
  }
}

.sidebar__section {
  display: flex;
  flex-direction: column;
  margin: 1em 0;

  label {
    font-size: 0.8em;
    margin-bottom: 0.5em;
  }
}

.subsection {
  margin: 1em;
}

.upload-area {
  align-items: center;
  border: dashed $blue-grey;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  min-height: 12em;
}

.upload-area-active {
  @extend .upload-area;
  background: $blue-grey;
  color: $white-ter;
  font-weight: bolder;
}

.uploader {
  align-items: center;
  display: flex;
  height: 12em;

  .icon {
    color: $black-ter;
    font-size: 6em;
  }

  .preview {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid $black-ter;
    border-radius: 5px;
    display: flex;
    height: 10em;
    justify-content: center;
    width: 10em;
  }

  .progress {
    background: $blue-grey;
    height: 100%;
  }

  .progress-bar {
    border: 1px solid $blue-grey;
    border-radius: 5px;
    height: 2em;
    margin-top: 1.5em;
    overflow: hidden;
    width: 95%;
  }
}
