@import 'base';
@import 'colors';
@import 'form';

.container {
  align-items: center;
  background: $light-blue;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.form {
  justify-content: center;
}

.login {
  align-items: center;
  background: $white;
  box-shadow: 0 0 10px hsl(0, 0%, 30%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 3rem 6rem;
}

.message {
  color: $red;
  font-size: 0.8rem;
}
