@import 'colors';

.align-center {
  display: flex;
  align-items: center;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

.container {
  align-items: center;
  display: flex;
}

.is-a-third {
  width: 30%;
}

.is-cyan {
  background: $cyan;
}

.is-full {
  width: 100%;
}

.is-horizontal {
  display: flex;
  flex-direction: row;
}

.is-red {
  background: $red;
}

.is-two-thirds {
  width: 60%;
}

.is-vertical {
  @extend .container;
  flex-direction: column;
}

.is-yellow {
  background: $yellow;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-right {
  display: flex;
  justify-content: flex-end;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.space-between {
  display: flex;
  justify-content: space-between;
}
